<html>
    <head>
        <title> Test Pc Manager </title>
    </head>

    <body>
        {% for catalog in catalog_info %}
        <div id="content">
            <table border = "1" width="800">
                <tr>
                <td colspan="6" ><font color="blue">{{ catalog["name"] }}</font></td>
                </tr>
                <td>IP</td>
                <td>status</td>
                <td>user name</td>
                <td>previous user</td>
                <td>previous logintime</td>

                {% set used_entries = [] %}
                {% for entry in catalog["entries"] %}
                    {% if entry["status"] == "running" and entry["username"] == "None" %}
                        <tr>
                        <td><font color="green">{{ entry["ip"] }}</font></td>
                        <td><font color="green">{{ entry["status"] }}</font></td>
                        <td><font color="green">{{ entry["username"] }}</font></td>
                        <td><font color="green">{{ entry["lastuser"] }}</font></td>
                        <td><font color="green">{{ entry["lastlogintime"] }}</font></td>
                        </tr>
                    {% else %}
                        {% set used_entries.append(entry) %}
                    {% end %}
                {% end %}

                {% for entry in used_entries %}
                        <tr>
                        <td>{{ entry["ip"] }}</td>
                        <td>{{ entry["status"] }}</td>
                        <td>{{ entry["username"] }}</td>
                        <td>{{ entry["lastuser"] }}</td>
                        <td>{{ entry["lastlogintime"] }}</td>
                        </tr>
                {% end %}
            </table>
        </div>
        {% end %}

    </body>

</html>